@font-face {
    font-family: Comunicacion Digital;
    src: url(Comunicacion.ttf);
}
#scoreboard {
    cursor: default;
}
#scoreboard td {
    vertical-align: top;
    text-align: center;
}
#scoreboard p {
    margin: 0;
}
#scoreboard *[id] {
    cursor: pointer;
}
.team {
    font-family: Comunicacion Digital, sans-serif;
    font-size: 90%;
}
.team img {
    max-width: 2em;
    max-height: 2em;
}

#timeouts-a, #timeouts-b, #score-a, #score-b, #jam, #period {
    color: yellow;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 133%;
}
#timeouts-a, #timeouts-b {
    font-size: 50%;
}
#timeouts-a, #jammer-a {
    float: left;
}
#timeouts-b, #jammer-b {
    float: right;
}

#jammer-a, #jammer-b {
    color: #444;
}

#jammer-a.lead, #jammer-b.lead {
    color: yellow;
}

#jam, #period {
    background: #000;
    font-size: 150%;
    border-radius: 15px;
    padding: 0 0.1em;
}

/* States timers can be in */
#jam.paused, #period.paused {
    color: #888;
}
#jam.lowtime, #period.lowtime {
    background: #f24;
}
#jam.timeout {
    background: #044;
}
#jam.lineup {
    background: #060;
}


/*
 * Penalties
 */
#penalties-a {
    float: left;
    border-collapse: collapse;
}
#penalties-b {
    float: right;
    border-collapse: collapse;
}

#penalties td {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.075);
    padding: 0;
    vertical-align: bottom;
}

#penalties .minors td {
    height: 3em;
}
#penalties .majors td {
    height: 8em;
}
#penalties .minors div {
    background-color: #880;
    color: black;
}
#penalties .majors div {
    background-color: #800;
}
#penalties .sk8ers td {
    font-family: sans-serif;
    vertical-align: top;
    width: 1em;
    line-height: 75%;
}


/*
 * Notices
 */
#penalties.notice {
    display: none;
}
#notice div {
    font-family: Crack Babies, Comunicacion Digital, sans-serif;
    font-size: 1000%;
    display: none;
}
#notice .active {
    display: block;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: grow;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
}  
    
@-moz-keyframes grow {  
  0%   {color: red;}
  50%  {color: yellow;}
  75%  {color: blue;}
  100% {color: magenta;}
}

