@font-face {
    font-family: Comunicacion Digital;
    src: url(Comunicacion.ttf);
}
#scoreboard td {
    vertical-align: top;
    text-align: center;
}
#scoreboard p {
    margin: 0;
}
#scoreboard *[id] {
    cursor: pointer;
}
.team {
    font-family: Comunicacion Digital, sans-serif;
    font-size: 90%;
}
.team img {
    max-width: 2em;
    max-height: 2em;
}

#timeouts-a, #timeouts-b, #score-a, #score-b, #jam, #period {
    color: yellow;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 133%;
}
#timeouts-a, #timeouts-b {
    font-size: 50%;
}
#timeouts-a {
    float: left;
}
#timeouts-b {
    float: right;
}
#jam, #period {
    background: #000;
    font-size: 150%;
    border-radius: 15px;
    padding: 0 0.1em;
}

/* States timers can be in */
#jam.paused, #period.paused {
    color: #888;
}
#jam.lowtime, #period.lowtime {
    background: #f24;
}
#jam.timeout {
    background: #044;
}
#jam.lineup {
    background: #060;
}