@font-face {
    font-family: 'MostWaztedRegular';
    src: url('mostwasted-webfont.eot');
    src: url('mostwasted-webfont.eot?#iefix') format('embedded-opentype'),
         url('mostwasted-webfont.woff') format('woff'),
         url('mostwasted-webfont.ttf') format('truetype'),
         url('mostwasted-webfont.svg#MostWaztedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #222 url(bg.jpg);
    background-size: 100% auto;
    color: #eee;
    max-width: 40em;
    margin: auto auto;
}
h1 {
    color: #fd8;
    font-family: MostWaztedRegular, fantasy, sans-serif;
    font-size-adjust: 1.0;
}
h2 {
    font-family: sans-serif;
}
dt {
   font-size: 120%;
   font-weight: bold;
}
a {
    color: yellow;
}
caption {
    font-size: 33%;
    font-family: default;
}

#screenshot {
    text-align: center;
}

#screenshot img {
    border: solid black 4px;
}
