@font-face {
    font-family: Sk8ordye;
    src: url(Sk8ordye.ttf);
}
body {
    background: #222 url(stone-cmp.jpg);
    color: #eee;
    max-width: 40em;
    margin: auto auto;
}
h1 {
    color: #fd8;
    font-family: Sk8ordye, fantasy, sans-serif;
    font-size-adjust: 1.0;
}
h2 {
    font-family: sans-serif;
}
a {
    color: yellow;
}
img {
    float: right;
    max-width: 100%;
}
#scoreboard img {
    float: none;
}
#scoreboard {
    font-size: 2em;
    font-family: Most Wazted, fantasy;
    border: solid black 4px;
}
