@font-face {
	font-family: Ubuntu;
	src: url('Ubuntu-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Ubuntu;
	src: url('Ubuntu-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

body {
	background: #000;
	font-family: Ubuntu;
	font-size: 160px;
	color: white;
	margin: 0;
}

#scoreboard {
	cursor: default;
}


input {
	border: 0px;
	font: inherit;
	background: transparent;
	color: inherit;
	width: 3em;
	display: inline;
}

.team .logo {
	position: absolute;
	left: 10%;
}

.team .logo * {
	display: none;
}

.team .color {
	display: inline;
	width: 0.5em;
	margin-top: 0.60em;
} 

.team {
	position: absolute;
	left: 0;
	height: 1.3em;
	width: 10em;
	border-radius: 0.2em;
}

.team * {
	position: relative;
	top: -0.3em;
	font-size: 145%;
	font-weight: bold;
}

#team-a {
	top: 0;
}

#team-b {
	top: 50%;
}

.name {
	width: 3.5em;
	text-align: right;
}


.score {
	display: inline-block;
	width: 2em;
	text-align: right;
}


.jammer {
	color: #888;
	opacity: 0.3;
}

.jammer.lead {
	color: yellow;
	opacity: inherit;
}


.timeouts {
<<<<<<< HEAD
	margin-top: 4.8em;
	font-size: 20%;
=======
	position: absolute;
	width: 1.8em;
	bottom: 0.1em;
>>>>>>> master
}


.clocks * {
	position: absolute;
	right: 0.1em;
	text-align: right;
}

.setup {
	background-color: rgba(0, 255, 0, 0.2);
}

.clocks .paused {
	color: #aaf;
}
.clocks .lowtime {
	background: #f24;
}
.clocks .timeout {
	background: #044;

}
.clocks .lineup {
	background: #060;
}

#period {
	top: -0.2em;
}

#jam {
	bottom: -0.2em;
}

#jamtext {
	display: none;
	color: #cc0;
	bottom: 0.1em;
	right: 3em;
}

#periodtext {
	color: #cc0;
	top: 1.25em;
	font-size: 80%;
}

#preset {
	font-size: 40%;
	bottom: 45%;
	left: 5%;
	right: auto;
}

#close {
	visibility: hidden;
}


#notice {
	position: absolute;
	top: 0;
	left: 0;
}

#notice img {
	max-height: 3em;
}
