@font-face {
    font-family: 'Magenta';
    src: url('Magenta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PermanentMarker';
    src: url('PermanentMarker.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url(bg.jpg) #222;
    background-size: 100% auto;
    font-size: 160px;
    color: #eee;
    margin: 0;
}

#scoreboard {
    cursor: default;
    font-family: sans-serif;
    font-weight: bold;
}
#scoreboard p {
    margin: 0;
}
#scoreboard *[id] {
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.left, .right {
    width: 2em;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
}

.left {
    left: 0;
}
.right {
    right: 0;
}

.center {
	text-align: center;
}

.logo {
    max-width: 1.8em;
    max-height: 2em;
}

.timeouts {
    position: absolute;
    font-size: 50%;
    bottom: 1em;
    color: #0f0;
}
#timeouts-a {
    left: 0em;
}
#timeouts-b {
    right: 0em;
}

/* Jammer indicators */
#jammer-a, #jammer-b {
    font-family: monospace;
    position: absolute;
    bottom: 0em;
    color: #444;
}
#jammer-a.lead, #jammer-b.lead, #jamtext, #periodtext {
    color: yellow;
}
#jammer-a {
    left: 0.5em;
}
#jammer-b {
    right: 0.5em;
}

#jam, #period {
    text-align: center;
    background: #000;
    border-radius: 15px;
}
#period {
    position: absolute;
    top: 0;
    left: 50%;
    width: 3.4em;
    margin-left: -1.7em;
}

#jam {
    position: absolute;
    bottom: 0em;
    left: 50%;
    width: 4em;
    margin-left: -2em;
}

#jamtext, #periodtext {
    text-align: center;
    font-family: PermanentMarker, sans-serif;
    font-weight: normal;
    font-size: 75%;

    position: absolute;
    left: 50%;
    width: 5em;
    margin-left: -2.5em;
}

#periodtext {
    top: 1.4em;
}

#jamtext {
    bottom: 1.4em;
}

#advert {
	margin-top: 1.4em;
	max-height: 2em;
	max-width: 5em;
}

.score {
    position: absolute;
    font-size: 1.2em;
    top: 50%;
    margin-top: -0.6em;
}
#score-a {
    left: 0em;
}
#score-b {
    right: 0em;
}

#jamno {
    color: #0f0;
    position: absolute;
    font-size: 50%;
    bottom: 2.2em;
    right: 25%;
}


/*
 * States timers can be in
 */
#jam.paused, #period.paused {
    color: #aaf;
}
#jam.lowtime, #period.lowtime {
    background: #f24;
}
#jam.timeout {
    background: #044;
}
#jam.lineup {
    background: #060;
}


/*
 * Notices
 */
#notice {
    position: absolute;
    bottom: 1.3em;
    left: 50%;
    width: 4em;
	height: 3em;
    margin-left: -2em;
}

#notice embed {
	width: 100%;
	height: 100%;
}

