@font-face {
    font-family: 'ComunicacionDigitalMedium';
    src: url('comunicacion-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MostWaztedRegular';
    src: url('mostwasted-webfont.eot');
    src: url('mostwasted-webfont.eot?#iefix') format('embedded-opentype'),
         url('mostwasted-webfont.woff') format('woff'),
         url('mostwasted-webfont.ttf') format('truetype'),
         url('mostwasted-webfont.svg#MostWaztedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url(bg.jpg) #222;
    background-size: 100% auto;
    font-size: 160px;
    color: #eee;
    margin: 0;
}

#scoreboard {
    cursor: default;
    font-family: sans-serif;
    font-weight: bold;
}
#scoreboard p {
    margin: 0;
}
#scoreboard *[id] {
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#logo-a-container, #logo-b-container {
    position: absolute;
    top: 0;
    height: 5em;
    width: 2em;
    text-align: center;
}
#logo-a-container {
    left: 0;
}
#logo-b-container {
    right: 0;
}
#logo-a, #logo-b {
    max-width: 1.8em;
    max-height: 2em;
}

#timeouts-a, #timeouts-b {
    position: absolute;
    font-size: 50%;
    bottom: 1em;
    color: #0f0;
}
#timeouts-a {
    left: 0em;
}
#timeouts-b {
    right: 0em;
}

/* Jammer indicators */
#jammer-a, #jammer-b {
    font-family: monospace;
    position: absolute;
    bottom: 0em;
    color: #444;
}
#jammer-a.lead, #jammer-b.lead, #jamtext, #periodtext {
    color: yellow;
}
#jammer-a {
    left: 0.5em;
}
#jammer-b {
    right: 0.5em;
}

#jam, #period {
    text-align: center;
    background: #000;
    border-radius: 15px;
}
#period {
    position: absolute;
    top: 0;
    left: 50%;
    width: 3.4em;
    margin-left: -1.7em;
}

#jam {
    position: absolute;
    bottom: 0em;
    left: 50%;
    width: 4em;
    margin-left: -2em;
}

#jamtext, #periodtext {
    text-align: center;
    font-family: MostWaztedRegular, sans-serif;
    font-weight: normal;
    font-size: 75%;

    position: absolute;
    left: 50%;
    width: 4em;
    margin-left: -2em;
}

#periodtext {
    top: 1.4em;
}

#jamtext {
    bottom: 1.4em;
}


#score-a, #score-b {
    position: absolute;
    font-size: 1.2em;
    top: 50%;
    margin-top: -0.6em;
}
#score-a {
    left: 0em;
}
#score-b {
    right: 0em;
}

#jamno {
    color: #0f0;
    position: absolute;
    font-size: 50%;
    bottom: 2.2em;
    right: 30%;
}


/*
 * States timers can be in 
 */
#jam.paused, #period.paused {
    color: #aaf;
}
#jam.lowtime, #period.lowtime {
    background: #f24;
}
#jam.timeout {
    background: #044;
}
#jam.lineup {
    background: #060;
}


/*
 * Notices
 */
#notice div {
    display: none;

    font-family: ComunicacionDigitalMedium, sans-serif;
    font-weight: normal;
    text-align: center;
    line-height: 1.1em;
    opacity: 0.9;
    
    position: absolute;
    bottom: 1.8em;
    left: 50%;
    width: 3em;
    margin-left: -1.5em;
}
#notice .active {
    display: inherit;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: grow;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
}  
    
@-moz-keyframes grow {  
  0%   {color: red;}
  50%  {color: yellow;}
  75%  {color: blue;}
  100% {color: magenta;}
}

